@@ views/index
<!DOCTYPE html>
<html>
<head>
  <title>Best Neighborhoods</title>
  <style>
    #map { height: 600px; width: 800px; }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps_api_key %>&callback=initMap" async defer></script>
  <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 37.0902, lng: -95.7129 },
        zoom: 5
      });

      map.addListener('click', function(event) {
        updateCensusOverlay(event.latLng.lat(), event.latLng.lng());
      });
    }

    function updateCensusOverlay(lat, lng) {
      fetch(`/census_data?lat=${lat}&lng=${lng}`)
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert(data.error);
          } else {
            let content = `County: ${data.county}<br>Total Population: ${data.total_population}<br>Hispanic/Latino: ${data.hispanic_latino}<br>White: ${data.white}<br>Black: ${data.black}<br>Asian: ${data.asian}`;

            new google.maps.InfoWindow({
              content: content,
              position: { lat: lat, lng: lng }
            }).open(map);
          }
        });
    }
  </script>
</head>
<body>
  <div id="map"></div>
</body>
</html>
